/* task5*/
/* 
li {
  list-style-type: square;
} */

/* task6*/
/* ul {
  list-style-type: none;
}

li::before {
  content: ">";
} */

/* task7*/
/* li {
  list-style-image: url(img/free-icon-font-heart-3916579.png);
} */

/* task7*/
/* li {
  padding: 10px;
  display: inline-block;
} */

/* task9*/
/* td {
  padding: 0.5rem;
  background-color: #ececec;
} */

/* task10*/
/* table {
  border-spacing: 4px;
}

td {
  color: #fff;
  background-color: #4c715b;
  padding: 5px;
} */

/* task11*/
div {
  max-width: 700px;
  max-height: 150px;
  background-color: chartreuse;
  padding: 40px;
  outline: 2px solid blanchedalmond;
  outline-offset: -20px;
}
